.footer {
    height: 4rem;
    font-size: 1rem;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer h2 {
    font-size: 1rem;
}

@media (max-width: 700px) {
    .footer h2 {
        font-size: 0.8rem;
    }
}

.footer span {
    color: orange;
}